@font-face {
	font-family: GentiumPlusW;
	src: url(GentiumPlus-5.000-web/web/GentiumPlus-R.woff);
}
@font-face {
	font-family: GentiumPlusW;
	font-style: italic;
	src: url(GentiumPlus-5.000-web/web/GentiumPlus-I.woff);
}
body {margin:0; padding:0; font-family: 'GentiumPlusW', serif;}
div#map {width: 100vw; height: 100vh;}
div#sidepane {
	position: absolute; top: 1%; right: 1%; z-index: 999; width: 20%; height: 80%; min-width: 300px;
	background-color: #f9eedd; color: black; padding: 1em; overflow-y: auto;
	text-align: justify; hyphens: auto;
	line-height: 1.2em;
	border-radius: 4px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.65);
}
div#clickcoordinates {
	position: absolute; top: 0; left: 5%; z-index: 999; height: 1em;
	background-color: white; color: black; padding: 1em; overflow-y: auto;
}
div#timeline-container {
	position: absolute; bottom: 5%; left: 1%; z-index: 999; 
	width: 98%; height: 20px; background-color: white; border-radius: 4px;
}
div#timeline {position:relative;}
div.timestamp { position: absolute; z-index: 9999; }
a.timeline-link {
	cursor: pointer; background-color:#f9eedd; padding: 3px; 
	border-radius: 4px; border: 1px solid grey; position: relative; top: -2px; /* uuguguhgh */
}
a.timeline-link:hover {box-shadow: 0px 1px 5px rgba(0,0,0,0.65);}
span.timeline-text {margin-left:5px; margin-right:5px; position:absolute;top: -3px; } /* uuguguhgh */
span#timeline-currentmap {right: 0;}
img.fittedimage {max-width: 100%; max-height: auto; margin: auto auto auto auto;}
div#navigation {position: fixed; bottom: 15%; }
div#navigation button {font-weight:bold;}
span.locatoriconcssclass:before {content:"⌖"; font-size: 150%;}
a {color:black !important; text-decoration: none;} /* important weil sonst mapbox irgendwie blau ist und die anderen nicht... */
a:visited {color:black;}
a:hover {text-decoration:underline;}
